h1, h2, h3, h4, h5, h6, span, p, a, li {
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}
/* Navbar */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo Section */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icon {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background-color: #e5f7ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon i {
  color: #007b55;
  font-size: 22px;
}

.logo-text h2 {
    font-size: 1.25rem;
    color: #111827;
    line-height: 1.75rem;
    font-weight: 700;
}

.logo-text span {
    display: block;
    font-size: .75rem;
    color: #555;
    line-height: .25;
}
/* Nav Links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #007b55;
}

/* Contact Button */
.btn-contact {
  background-color: #007b55;
  color: #fff !important;
  padding: 10px 18px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-contact:hover {
  background-color: #005e3e;
}

/* Mobile Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #007b55;
  transition: 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: -100%;
    background-color: #fff;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
  }

  .nav-links.active {
    right: 0;
  }
}
.container-fluid {
    width: 1300px;
}
/* Hamburger animation */
.menu-toggle.open .bar:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}


/* ---------- MOBILE MENU ---------- */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    text-align: left;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}
