
.hero-section {
  padding: 60px 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecfeff;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.hero-left {
  flex: 1 1 400px;
}

.hero-left h1 {
  font-size: 56px;
  line-height: 1.3;
  font-weight: 700;
}

.hero-left h1 span {
  color: #007b55;
}

.hero-left p {
  margin-top: 15px;
  font-size: 1rem;
  color: #555;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.btn-primary {
  background-color: #007b55;
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #005e3e;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #007b55;
  color: #007b55;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline:hover {
  background-color: #007b55;
  color: #fff;
}

.hero-right {
  flex: 1 1 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
}

.service-card {
      background-color: #ecfdf5;
    border-radius: 16px;
    margin: 1.5rem;
    text-align: justify;
    padding: 0px 25px 0px 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    /* transition: 0.3s ease;*/
}

/* .service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
} */

.service-card .icon {
  font-size: 2rem;
  color: #007b55;
  margin-bottom: 10px;
  background-color: unset;
}

.service-card h3 {
  font-size: 1.1rem;
  margin-bottom: 6px;
  color: #1b1b1b;
}

.service-card p {
  font-size: 0.9rem;
  color: #666;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-right {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 600px) {
  /* .hero-right {
    grid-template-columns: 1fr;
  } */

  .hero-section {
    padding: 60px 20px;
  }

  .hero-left h1 {
        font-size: 29px;
    }
    .btn-primary {
        padding: 12px 20px;
    }
    .service-card{
        margin: 10px !important;
    }
}
