.why-choose {
  text-align: center;
  padding: 80px 4%;
  background-color: #fff;
  color: #1b1b1b;
}

.why-choose h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0a3d2f;
  margin-bottom: 10px;
}

.why-choose p {
    color: #4b5563;
    font-size: 1.3rem;
    margin-bottom: 60px;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.feature-box {
  /* background-color: #f0faf5;
  border-radius: 16px; */
  padding: 20px 0px;
  /* transition: 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04); */
}

/* .feature-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
} */

.icon {
  background-color: #e5f7ed;
  color: #007b55;
  font-size: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 14px;
  margin-bottom: 20px;
}

.feature-box h3 {
  font-size: 20px;
  font-weight: 600;
  color: #0a3d2f;
  margin-bottom: 10px;
}

.feature-box p {
  font-size: 0.95rem;
  color: #555;
}

/* Responsive Design */
@media (max-width: 992px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .why-choose {
    padding: 60px 20px;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .feature-box {
    padding: 25px 15px;
  }

  .why-choose h2 {
    font-size: 1.7rem;
  }
  .features{
    gap:unset  !important;
  }
  .why-choose p{
    margin-bottom: 40px;
  }
  .container-fluid{
    width: 100% !important;
  }
  .services-section{
    padding: 80px 0px !important;
  }
}

/* 
.feature-box {
  background: #f9fffb;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
} */

.feature-box .icon {
    font-size: 25px;
    margin-bottom: 20px;
    display: inline-block;
    transition: transform 0.3s 
ease;
    padding: 13px;
}
.feature-box h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #1a1a1a;
}

.feature-box p {
  font-size: 16px;
  color: #555;
}

/* Hover Effects */
/* .feature-box:hover {
  background: #e8fef0;
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
} */

.feature-box:hover .icon {
  transform: scale(1.2); /* 👈 Zoom-in effect */
}
